body {
    font-family: Raleway, sans-serif;
    background-color: rgb(163, 163, 163)
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: blueviolet;
}

.boxes {
    margin: 10px;
    padding: 5px;
    border: 1px solid orange;
    display: block;
    background-color: rgb(74, 156, 58);
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: pink;
    margin-left: 430px;
}

.original {
    color: rgb(77, 77, 170);
}

.additional {
    color: aquamarine;
}

#one {
    color: red;
}