body {
    font-family: Raleway, sans-serif;
    background-color: rgb(163, 163, 163)
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: blueviolet;
}

.boxes {
    margin: 1em;
    padding: 1em;
    border-style: solid; border-color: orange;
}